<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta http-equiv="Content-Type">
		<meta content="text/html; charset=utf-8">
		<meta charset="utf-8">
		<title>加入VIP</title>
		<meta name="divport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="pragma" content="no-cache">
		<!-- HTTP 1.0 -->
		<meta http-equiv="cache-control" content="no-cache">
		<!-- Prevent caching at the proxy server -->
		<meta http-equiv="expires" content="0">

		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type="text/javascript" src="js/rem.js"></script>
		<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	</head>

	<body>
    <article>

		<div>
		<img class='banner' src='images/vip_banner.png'/>

		<div class='vip_box box1'>
		  <div class='vip_box_tilte'>| VIP特权一</div>
		  <div class='vip_box_main'>
		    <div class='vip_box_img'><img src='images/vip_img1.png' /></div>
		    <div class='vip_box_txt'>
		      <div>精品无限租</div>
		      <div>VIP专享精品全年 1 葡萄租用</div>
		    </div>
		  </div>
		</div>

		<div class='vip_box box2'>
		  <div class='vip_box_tilte'>| VIP特权二</div>
		  <div class='vip_box_main'>
		    <div class='vip_box_img'><img src='images/vip_img2.png' /></div>
		    <div class='vip_box_txt'>
		      <div>租用免押金</div>
		      <div>无需押金，拒绝葡萄不足的尴尬</div>
		    </div>
		  </div>
		</div>

		<div class='vip_box box3'>
		  <div class='vip_box_tilte'>| VIP特权三</div>
		  <div class='vip_box_main'>
		    <div class='vip_box_img'><img src='images/vip_img3.png' /></div>
		    <div class='vip_box_txt'>
		      <div>购买享八折</div>
		      <div>购买闲置享受葡萄八折优惠</div>
		    </div>
		  </div>
		</div>

		<form >
		  <button form-type='submit' class='btn large' id="join">98元/年，升级VIP立享特权</button>
		  <!-- <button form-type='submit' class='btn large'>98元/年，续费VIP立享特权</button> -->
		</form>


		<div class='vip_txt'>邀请好友开通可返现  <text id="check">查看邀请进度</text></div>

		</div>
	<section class="pop">
		<div class='pop_mask'></div>
		<div class='pop_wrap'>
		  <div class='pop_close' >
		    <img src='images/close.png' />
		  </div>
		  <div class='pop_vip_main'>
		    <div class='pop_title_wrap'>
		      <div class='pop_title'>开通VIP成功！邀请好友开通可返现</div>
		      <div class='pop_txt1'>累计邀请3个好友开通VIP，即可获得49元返现</div>
		    </div>
		    <div class='headimg'>
		        <div class='head'>
			        <img class="head_3" src="images/avatar_default.png" />
			        <text>等待助力</text>
			    </div>
			    <div class='head'>
			        <img class="head_3" src="images/avatar_default.png" />
			        <text>等待助力</text>
			    </div>
			    <div class='head'>
			        <img class="head_3" src="images/avatar_default.png" />
			        <text>等待助力</text>
			    </div>
		    </div>
		    <div class="pop_code">
		    	<img src="images/vip_code.jpg">
		    	<div>长按识别进入小程序，邀请好友得返现</div>
		    </div>
		  </div>
		  
		</div>
	</section>




	</article>
	<script type="text/javascript">
		(function($){
			var evclick = "ontouchend" in window ? "touchend" : "click";

			$('.pop_close').on(evclick,function(){
				$(this).click(function(){
					$('.pop').fadeOut()
				})
			})

			$('#check').on(evclick,function(){
				$(this).click(function(){
					$('.pop').fadeIn()
				})
			})
			
		})(jQuery)
	</script>
	<script type="text/javascript">
		wx.config({
				debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
				appId: '<?php echo $signPackage["appId"]; ?>', // 必填，公众号的唯一标识
				timestamp: '<?php echo $signPackage["timestamp"]; ?>', // 必填，生成签名的时间戳
				nonceStr: '<?php echo $signPackage["nonceStr"]; ?>', // 必填，生成签名的随机串
				signature: '<?php echo $signPackage["signature"]; ?>',// 必填，签名
				jsApiList: ['chooseWXPay'] // 必填，需要使用的JS接口列表
		});
		wx.ready(function () {
			console.log('wx ready1');
			document.querySelector('#join').onclick = function () {
				wx.chooseWXPay({
					timestamp: '<?php echo $payInfo["timeStamp"]; ?>', // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
					nonceStr: '<?php echo $payInfo["nonceStr"]; ?>', // 支付签名随机串，不长于 32 位
					package: '<?php echo $payInfo["package"]; ?>', // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=\*\*\*）
					signType: '<?php echo $payInfo["signType"]; ?>', // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
					paySign: '<?php echo $payInfo["paySign"]; ?>', // 支付签名
					cancel: function (res) {
						console.log('已取消');
						alert('已取消');
					},
					success: function (res) {
						console.log('success');
						alert('success');
					// 支付成功后的回调函数
					},
					
					fail: function (res) {
						console.log('fail');
						alert('fail');
						alert(JSON.stringify(res));
					}
				});
			}
		});

		wx.error(function (res) {
			alert(res.errMsg);
		});
	
		</script>
	</body>
</html>


