<style>
    ul.forminfo label {height:34px;}

</style>
<div class="rightinfo">
    <form id='form'  action="/admin/change" method="post">
        <div class="formbody">

            <div class="formtitle"><span>基本信息</span></div>

            <ul class="forminfo">
                <li><label>新密码</label><input name="password" type="password" value="" class="dfinput" /><i>&nbsp;</i></li>
                <li><label>&nbsp;</label><input id="_saveBtn" name="" type="submit" class="btn" value="确认保存"/></li>
            </ul>

        </div>
    </form>
</div>